<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

@model Dish
<body>
    <div class="container-width-50p tac mt-20">
        <h1>@Model.Name</h1>
        <div class="mt-10">
            <a asp-action="Index">Home</a> | <a asp-action="NewDish">Add a Dish</a>
        </div>
    </div>
    <div class="container-width-50p mt-50">
        <p class="underline">@Model.Name by @Model.Chef</p>
        <div>
            <p class="mt-10">@Model.Text</p>
            <p class="mt-10">Calories: @Model.Calories</p>
            <p class="mt-10">Tastiness: @Model.Tastiness</p>
        </div>
    </div>
    <div class="container-width-50p flex mt-50 jc-spacearound">
        <form asp-action="DestroyDish" asp-route-id="@Model.DishId" asp-controller="Home" method="post"><button class="bg-red white text-outline-1">Delete</button></form>
        <a asp-action="EditDish" asp-route-id="@Model.DishId"><button class="bg-blue white text-outline-1">Edit</button></a>
    </div>
</body>

</html>